/* Hero Shapes Container */
#hero-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; Removed to let shapes float "above" top edge */
    z-index: -1;
    pointer-events: none;
}

.shape {
    position: absolute;
    opacity: 0;
    /* Hidden initially, controlled by GSAP */
    will-change: transform, opacity;
}